header { //
	height: 60px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	width: 100%;
	font-size: 24px;
	padding: 25px;
}

body {
    display: grid;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 250px auto 250px;
    grid-gap: 20px;
    padding: 10px;
}

.poem {
    font-style: italic;
    margin-top: 305px;
}

.cellsandcontrols {
	text-align: center;
}

.cellsborder {
    border: 3px solid lightgrey;
}

.control {
    display: grid;
    grid-template-columns: 150px auto 150px;
    margin-top: 3px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    font-size: 1.5rem;
}

.btn-light.disabled, .btn-light:disabled {
    background-color: white;
    color: grey;
}

.range {
    display: flex;
    align-items: center;
    color: grey;
}

#library {
    border: none;
    width:250px;
    font-size: 14px;
}

select option {
    padding: 1px;
}

#templateName {
    margin-top: 20px;
    font-weight: bold;
}

#templatetext {
    display: block;
    overflow: auto;
    margin-left: 2px;
    height: 280px;
}

#size {
    width: 120px;
    margin-left: 8px;
}

#speed {
    width: 120px;
    margin-right: 8px;
}

#stepcount {
    width: 50px;
    display: inline-block;
    border: solid 1px gray;
    margin: 10px 20px 10px 20px;
    border-radius: 4px;
}

#cells {
    display: grid;
    grid-gap: 1px;
    justify-content: center;
    margin: auto;
}

.dot {
  border-radius: 20%;
  -webkit-transition: background-color 200ms; /* For Safari 3.1 to 6.0 */
  transition: background-color 200ms;
}

.buttons {

}

.btn-light {
	background-color: transparent;
	border: none;
}

